<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <a href="logout">Logout</a>
<body>
	<div class="container">
		<table border="1" class="table table-hover">	
			<h1>Tickets</h1>
<tr>
<thead>
<th>Subject</th>
<th>Description</th>
<th>Current Holder</th>
<th>Raised Time</th>
</thead>
</tr>
{% for ticket in tickets %}
<tr>
<td>{{ticket.subject}}</td>
<td>{{ticket.description}}</td>
<td>{{ticket.current_holder}}</td>
<td>{{ticket.raised_time}}</td>
<td><a href="\escalate\{{ticket.id}}">Escalate</a></td>
<td><a href="\closetick\{{ticket.id}}">Close Ticket</a></td>
</tr>
{% endfor %}

</table>
</div>
</body>
</html>