<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<html>
<head>

<div align="center"><a href="logout" align="center">Logout</a></div>
</head>
<body>
<form action="raise" method="POST">
{% csrf_token %}
<div class="container" align="center">
	<div class="card">
		<div class="card-body">
<h1>Raise Ticket</h1>
<br/>
Client:<select id="client" name="client" class="form-control">
	{% for client in clients %}
	<option value="{{client.client_id}}">{{client.name}}</option>
	{% endfor %}
	</select>
	<br>
	<br>
Subject:<input type="text" id="subject" name="subject" class="form-control">
<br>
Description:<textarea class="form-control" id="desc" name="desc"></textarea>
<br>
<input type="submit" class="btn btn-primary">
</form>
</div>
</div>
</div>
<div class="container">
		<table border="1" class="table table-hover">	

<h1>Raised</h1>
<tr>
<thead>
<th>Subject</th>
<th>Current Holder</th>
<th>Current Holder Name</th>
<th>Raised Time</th>
</thead>
</tr>
{% for ticket in tickets %}
<tr>
<td>{{ticket.subject}}</td>
<td>{{ticket.current_holder}}</td>
<td>{{ticket.current_holder_name}}</td>
<td>{{ticket.raised_time}}</td>
<td><a href="\closetick\{{ticket.id}}">Close Ticket</a></td>
</tr>
{% endfor %}
</table>
</div>
</body>
</html>